.user-login-Layout {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  
  .user-login-inside-Layout {
    margin-top: 1rem;
    width: 600px;
    height: auto;
    background-color: #f6f6f6;
    border-radius: 15px;
    padding: 20px 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .user-register-form-controllers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* PhoneOTP CSS */
  .user-phoneOTP-Notes {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 550;
  }